
.bg-main {
    position: relative;
    height: 1000px;
    background: 
    linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ), url("../img/bg-image/bg-main.jpg");
    color: #fff;
}
.main-text {
    position: absolute;
    top: 348px;
    left: 35%;
}
h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin-bottom: 36px;
}
.bg-sub-text {
    font-size: 18px;
    text-align: center;
    max-width: calc(55em * 0.5);
    margin: 0 auto 43px;
    
}
.bg-btn {
    display: block;
    text-align: center;
} 
.main-btn {
    background-image: url("../img/btn/main-btn.png");
    border: none;
    height: 55px;
    width: 110px;
    outline: none;
}
.arrow {
    background-image: url("../img/btn/arrow-main-btn.png");
    background-repeat: no-repeat;
    height: 15px;
    margin-left: -45%;
}

/* Listen Live */
.listen-live-box {
    position: relative;
    background-color: #333;
    padding: 109px 0 120px 0;
}
.head-ll {
    /* display: inline-block; */
}
.svg {
    display: inline-block;
    margin-right: 33px;
}
.text-caption {
    display: inline-block;
    font-size: 40px;
    color: #fff;
}
.player-listen-life {
    margin-top: 50px;
}
.player-listen-life a {
    display: inline-block;
}
.listen-play-box {
    display: inline-block;
    margin-right: 15px;
}
.listen-play-box:nth-last-child(1) {
    margin-right: 0;
}
.img-listen {
    margin-bottom: 30px;
}
.wrap {
    color: #fff;
}
.wrap h3 {
    margin: 0 0 19px 0;
}
.wrap p {
    margin: 0;
}
.slider-left-btn {
    position: absolute;
    width: 60px;
    height: 45px;
    color: white;
    top: 50%;
    left: 116px;
    background-color: #333366;
    /* background-image: url("../img/ll/arrow-left.png");
    background-repeat: no-repeat;
    background-position: 40px center; */
    border: 0;
    outline: none
}
.slider-right-btn {
    position: absolute;
    width: 60px;
    height: 45px;
    color: white;   
    top: 50%; 
    right: 116px;
    background-color: #333366;
    border: 0;
    outline: none
}
.arrow-left-ll {
    position: absolute;
    height: 10px;
    width: 50px;
    background-image: url("../img/ll/arrow-left.png");
    background-repeat: no-repeat;
    top: 52.7%;
    left: 148px;
}
.arrow-right-ll {
    position: absolute;
    height: 10px;
    width: 50px;
    background-image: url("../img/ll/arrow-right.png");
    background-repeat: no-repeat;
    top: 52.7%;
    right: 148px;
}


.podcasts {
    height: 887px;
    background-color: #000033;
    padding: 112px 0;
}
.head-hp {
    margin-bottom: 50px;
}
.elements {
    display: inline-block;
    margin: 0 30px 30px 0;
}
/* .elements:nth-child(2n+4) {
    margin-right: 0;
} */
.e {
    margin-right: 0;
}
.image-hp {
    position: relative;
}
.wrap-hp {
    position: absolute;
    top: 42px;
    left: 26px;
    color: #fff;
}
.wrap-hp h3,
.wrap-hp p {
    margin: 0;
    padding: 0;
}
.wrap-hp h3 {
    margin-bottom: 16px;
    font-size: 18px;
}
.wrap-hp p {
    font-size: 13px;
}
.button-hp {
    position: absolute;
    left: 27px;
    bottom: 30px;
    width: 17px;
    height: 18px;
}